.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom Pagination Styles */
.swiper-pagination-bullet {
  background: #72c421 !important;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #72c421 !important;
}

.swiper-pagination {
  bottom: -30px !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .swiper-pagination {
    bottom: -25px !important;
  }
}
